<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Entreprise</th>
      <th>Email</th>
      <th>Téléphone</th>
    </tr>
  </thead>
  <tbody>
    {% for tuteur in tuteurs %}
      <tr>
        <td>{{ tuteur.id }}</td>
        <td>{{ tuteur.nom }}</td>
        <td>{{ tuteur.prenom }}</td>
        <td>{{ tuteur.entreprise }}</td>
        <td>{{ tuteur.email }}</td>
        <td>{{ tuteur.telephone }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
